* {
  margin:0;
  padding:0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  background-color: #152744;
  width: 100%;
}

.header {
  height: 35px;
  width: 100%;
  background-color: #367591;
  list-style-type: none; 
  display: inline-block;
  position: sticky;
  top:0;
}

.header a { 

  text-decoration: none;
  color: #9dfdc7; 
  margin-inline: 15px;
}

nav{
  padding-top: 5px;
  color: #9dfdc7;
  font-size: 15px; 
  margin-top: 1px;
  text-align: right;
}

h1{
  padding-top: 10px;
}

p {
  padding:5px
}

p.italic {
  font-style: italic;
}


main {
	background: #61d2b4; 
  height:500px;
  width:100%;
  font-size: 15px;
  margin-top: -px;
  text-align: center;
  border:solid #f7b801;
  border-top-width: 5px;
  border-bottom-width: 0;
  border-left: 0; 
}

img {
  width: 200px; 
  height: 200px;
  padding: 10px;
}

.contact {
  position: center;
  background: #61d2b4;
  color: black;
  height: 180px;
  width: 100%;
}

h2 {
  margin: 10px
}

#label {
  border:solid #152744;
  font-size:12px;
  margin: auto;
  height: 80px;
  width: 350px;
  padding: 10px;
  border-width: 3px;
  border-radius: 15px;
}

nav.button {
  padding-top: 5px;
  text-align: center;
  }

input.button {
  margin: -10px;
}

footer {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  height: 20px;
  width: 100%;
  background-color: #367591;
  
}
